html,
body {
  min-height: 100vh;
  height: 100%;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #000;
  background-color: #fff;
}

.wrapper {
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

/* -------------------------------------------------------------------------------------- */

/* Navbar container */
.navbar {
  margin: 32px 32px 0px 32px;
  float: right;
  overflow: hidden;
}

/* Links inside the navbar */
.navbar a {
  position: relative;
  float: left;
  z-index: 98;
  font-size: 18px;
  color: #000;
  padding: 10px 32px;
  text-decoration: none;
}

.navbar #signup {
  float: left;
  font-size: 18px;
  color: #fff;
  background-color: #094C9F;
  padding: 10px 32px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  padding: 0px;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: #000;
  margin: 0;
  padding: 10px 16px 10px 24px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  position: relative;
  z-index: 98;
}

i {
  margin-left: 32px;
}

.navbar a:hover,
a:active {
  color: #fff;
  background-color: #094C9F;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 16px 10px 24px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover,
a:active {
  color: #fff;
  background-color: #094C9F;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* #content-wrap {
  padding-bottom: 40px;
} */

.footer {
  position: absolute;
  bottom: 0;
  top: auto;
  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-family: Roboto Slab;
  font-size: 12px;
}

/* -------------------------------------------------------------------------------------- */
.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box {
  /* positioning */
  position: absolute;
  top: 220px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  /* itself */
  background-color: #094C9F;
  border-radius: 20px;
  width: 46%;
  height: 54%;
  /* contents */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .box {
    width: 80%;
  }
}

@media screen and (min-width: 600px) {
  .box {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .box {
    width: 60%;
  }
}

img#ics-logo {
  max-width: 250px;
  height: auto;
  position: absolute;
  top: 108px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
}

h2 {
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1.5px;
  margin: 112px auto 0 auto;
  color: #fff;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  letter-spacing: 1px;
  margin: 0 auto 0 auto;
}

/* -------------------------------------------------------------------------------------- */

#page-header {
  padding: 24px 48px 24px 48px;
  background-color: #094C9F;
  display: flex;
  justify-content: space-between;
  /* height: 30px; */
}

#page-header-h1,
#page-header-h1-M {
  margin: 0;
  font-family: Roboto Slab;
  font-size: 24px;
  font-weight: 500;
  color: white;
}