body {
    font-family: 'Roboto Slab', serif;;
    margin: 0px;
}

.header {
    background: #094C9F;
    color: white;
    padding: 50px;
    text-align: left;
    font-size: 30px; 
    height: 50px    ;
}

.centered {
    margin: auto;
    height: 50%;
    padding: 10px;
}