body {
    font-family: 'Roboto', serif;;
    margin: 0px;
}

.header {
    background: #094C9F;
    color: white;
    padding: 27px;
    text-align: left;
    height: 25px;
    max-height: 40px;
}

.header-text {
    margin: 0;
    font-family: Roboto Slab;
    font-size: 24px;
    font-weight: 500;
    color: white;
    position: absolute;
    left: 48px;
    top: 24px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.centered {
    margin: auto;
    height: 50%;
    padding: 10px;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.inline-block {
    display: inline-block;
}

.wrapped {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrapper {
    height: 100%;
    margin: 0 auto;
}

.profile-name {
    color: white;
    max-width: 200px;
    position: absolute;
    right: 6.5%;
    top: 5px;
}

.classification {
    color: rgb(217, 217, 217);
    font-style: italic;
    font-size: 15px;
    position: absolute;
    top: 22px;
    right: 6.5%;
}

.profile-icon-img {
    width: 60px;
    height: 60px;
    margin: 2px;
    position: absolute;
    top: 7px;
    left: 93%;
    border-radius: 50%;
}

.student-info-text {
    font-weight: bold;
    text-decoration: underline;
    margin-top: 45px;
    margin-left: 80px;
    margin-bottom: 10px;
}

.student-info-box {
    border: 1px solid black;
    margin-left: 80px;
    margin-right: 80px;
}

#main-elements {
    margin-top: 100px;
}

.info-container {
    background-color: #094C9F;
    height: 36.5px;
    margin: 5px;
}

#name-container {
    background-color: white;
    width: 40%;
    height: 26px;
    margin-left: 1%;
    margin-top: 5px;
    border-radius: 20px;
    position: absolute;
    text-align: center;
}

#studno-container {
    background-color: white;
    width: 17%;
    margin-left: 42.5%;
    text-align: center;
    border-radius: 20px;
    height: 26px;
    margin-top: 5px;
    position: absolute;
}

#course-container {
    background-color: white;
    width: 11%;
    margin-left: 61.5%;
    text-align: center;
    border-radius: 20px;
    height: 26px;
    margin-top: 5px;
    position: absolute;
}

#college-container {
    background-color: white;
    width: 13%;
    margin-left: 74%;
    text-align: center;
    border-radius: 20px;
    height: 26px;
    margin-top: 5px;
    position: absolute;
}

.labels > p {
    margin-bottom: 2px;
    margin-top: 2px;
    font-weight: bold;
    font-size: 18px;
}

#name-label {
    margin-left: 24%;
}

#studno-label {
    margin-left: 29%;
}

#course-label {
    margin-left: 12.2%;
}

#college-label {
    margin-left: 11.5%;
}

.form-prompt {
    font-weight: bold;
    margin-top: 45px;
    margin-left: 80px;
    text-decoration: underline;
}

.form-section {
    border: 1px solid #8C8C8C;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 20px;
}

.row > div > input {
    width: 418px;
}

.row > div {
    font-size: 17px;
    margin: 20px;
}

.button {
    background-color: #094C9F;
    color: white;
    width: 220px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 17px;
}

.button:hover {
    background-color: black;
    color: white;
}

.apps-container {
    border: 1px solid #8C8C8C;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 20px;
    margin-bottom: 80px;
    margin-top: 40px;
}

.label {
    background-color: #094C9F;
    color: white;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

.date-label {
    margin-left: 12%;
}

.status-label {
    margin-left: 22%;
}

.status-value {
    margin-left: 21.2%;
}

.app-button {
    font-size: 17px;
    width: 150px;
    margin-top: 1%;
    margin-bottom: 1%;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    position: absolute;
    right: 9.5%;
    padding: 7px;
}

#closed-text {
    font-size: 17px;
    color: #8C8C8C;
    position: absolute;
    right: 10.5%;
    margin-top: 21px;
}

.app-button:hover {
    box-shadow: 2px 2px 5px 1px rgba(68, 68, 68, 0.8);
    background-color: white;
    color: #094C9F;
}

.view-remarks-button {
    font-size: 17px;
    height: 35px;
    width: 150px;
    margin-left: 310px;
    margin-top: 15px;
    margin-bottom: 1%;
    border: none;
    background-color:#094C9F;
    color: white;
    border-radius: 10px;
}

.view-remarks-button:hover {
    box-shadow: 2px 2px 5px 1px rgba(68, 68, 68, 0.8);
    background-color: white;
    color: #094C9F;
}

.remarks {
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 20px;
    background-color: #094C9F;
    padding: 20px;
    color: white;
    margin-bottom: 40px;
}